

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-left:10rem;
  margin-right:10rem;
  margin-bottom: 5rem;
  background-color:var(--clr-black-violet);
 
}

.contact p{
  color: var(--clr-maui-mist);
}

.contact-item:nth-child(2) {
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 1.5rem;
  padding:2rem
}

.open-hours p{
  text-align: center;
}

@media (max-width: 768px) {

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: nowrap;
    overflow:auto;
  }
  .contact-item:nth-child(2) {
    font-size: 1rem;
  }
}