

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(2, 1fr);
  width: 100%;
  position: relative;
}


.grid-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.food-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 80%;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  
}

.food-image:hover{
  opacity: 100%;
}

.grid-item.pizza {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.food-name {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  color:var(--clr-maui-mist);
  font-size: 3rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.grid-item:hover .food-name {
  transform: translateY(0);
}

/* 
.grid-item:nth-child(n+5):not(.pizza) {
  grid-column: auto;
} */


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-buttons {
    margin-top: 1rem;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap
    
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-item img{
    width: 70%;
  }
  main{
    margin-bottom: 2rem;
  }

  .food-name {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 0;
    color:var(--clr-maui-mist);
    font-size: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
}

@media (max-width: 1024px){
  .food-name {
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 0;
    color:var(--clr-maui-mist);
    font-size: 1.2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
}